<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConStr" connectionString="server=127.0.0.1;DataBase=ZtbDB;User Id=sa;Password=zcy123456;"/>
  <add name="MySQLconnStr" connectionString="Server=10.10.90.234;Database=chediandian; User=ZtbDB;Password=f2cfbb355e49dbd71;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=false; Max Pool Size=50; "/>
  <add name="jiekou" connectionString="http://intb.xiaokakeji.com:8090"/>
</connectionStrings>

